.top-bar input {
	height: auto;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}

.header {
	height: 200px;
	background: #02A866 url(https://primaservers.com/templates/v6/img/bg_footer.png);
	padding: 10px 20px 0 20px;
	margin-bottom: 10px;
	margin-top: -20px;
}

.header h3, .header h2, .header h1, .header p {
	color: #fff;
}

.contain-to-grid {
	background: #34495e;
	margin-bottom: 20px;
}

.top-bar {
	background: none !important;
	*height: 80px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #34495e;
}

.top-bar-section ul {
	background: none !important;
}

.top-bar-section ul li > a {
	float: none;
	text-decoration: none;
	font-weight: 300;
}

.top-bar-section .has-form {
	background: none;
}

li.has-form a.button {
	text-shadow: none;
	color: white !important;
}

.serverSlice h4 {
	display: inline-block;
}

.servericon {
	width: 64px;
}

.serverIcon img {
	width: 100%;
}

p.serverDesc {
	font-size: 0.6em;
	line-height: 1em;
	text-align: justify;
	word-spacing: -2px;
}

.marginzero {
	margin: 0;
}

.paddingzero {
	padding: 0;
}

.meter .bar {
	background: #27ae60;
	height: 1.268em;
}

.meter {
	background: #AAAAAA none repeat scroll 0 0;
	border-color: #777777 #CCCCCC #CCCCCC #777777;
	border-style: solid;
	border-width: 0.09em;
	height: 1.268em;
	margin-top: 0.09em;
	position: relative;
	width: 110px;
	float: right;
}

.meter .bartext {
	color: #FFFFFF !important;
	height: 1.268em;
	line-height: 1.181em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.row {
	*max-width: 75.5 rem;
}

.online {
	background-color: #27ae60
}

.offline, .online {
	padding: 10px;
	border-radius: 4px;
	color: white;
}

.offline {
	color: #c0392b;
}

.panel {
	overflow: hidden;
}

.scoreNumber {
	text-align: center;
	width: 15px;
	padding-left: 0;
}

button.custom {
	padding-top: 0.4rem;
	padding-right: 1rem;
	padding-bottom: 0.4rem;
	padding-left: 1rem;
	margin: 0;
}

table {
	margin-bottom: 0.4rem;
	background: none;
	border-spacing: 0;
}

table.noborder {
	border: 0;
}

body > div.row > div.small-9.columns > div > div.row > div.small-6.columns.left.paddingzero div {
	display: inline-block;
}

body > div.row > div.small-9.columns > div > div.row > div.small-6.columns.left.paddingzero > p {
	margin-bottom: 0;
}

.serverinfo thead tr {
	background-color: #34495e;
	height: 45px;
}

.serverinfo thead tr th {
	color: white;
}

.rank .serverrank {
	padding: 10px;
	background-color: #222;
	color: white;
	font-size: 17px;
}
/*
 tr:first-child span.serverrank{
 color:gold;
 }

 tr:nth-child(2) span.serverrank{
 color:silver;
 }

 tr:nth-child(3) span.serverrank{
 color:#cd7f32;
 }*/

.serverinfo table thead {
	margin-bottom: 5px;
}

.serverinfo .ip {
	background: #34495e;
	width: 468px;
	display: inline-block;
	padding: 5px;
	color: white;
}

.serverinfo td.banner img {
	width: 468px;
	height: 60px;
}

.serverinfo td.vote span:not(.label) {
	background: #3498db;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #333;
}

.top-bar .toggle-topbar.menu-icon a:after {
	-webkit-box-shadow: 1px 10px 1px 1px #333, 1px 16px 1px 1px #333, 1px 22px 1px 1px #333 !important;
	box-shadow: 0 10px 0 1px #333, 0 16px 0 1px #333, 0 22px 0 1px #333 !important;
}

.top-bar.expanded .title-area {
	background: white;
}

.serverinfo {
	*background-color: #3498db;
	overflow: hidden;
	color: white;
	*padding: 5px;
	margin-bottom: 10px;
}

.rank {
	width: 1px;
}

.name {
	width: 155px;
}

.banner {
	width: 468px;
	*padding: 10px 0 10px 0;
}

.players {
	width: 113px;
	text-align: center;
}

.players span {
	width: 75%
}

.status {
	/* width:100px; */
}

.vote {
	width: 50px;
}

.status span.online {
	width: 100%;
}

td.rank {
	padding: 0;
}

p {
	margin-bottom: 0;
}

.servers .banner img {
	width: 468px;
	height: 60px;
}

.servers .ip {
	background: #3498db;
	width: 468px;
	display: block;
	padding: 5px;
	color: white;
}

.serverbg {
	overflow: hidden;
	padding: 10px 5px 10px 5px;
}

.serverbg .players, .serverbg .name, .serverbg .serverrank {
	line-height: 88px;
}

.border {
	border: 1px solid #ccc;
}

.servers:nth-of-type(odd) {
	background: #f9f9f9;
}

.name a {
	width: 155px;
	word-wrap: break-word;
	font-weight: bold;
	color: #222;
}

.ans {
	display: none;
}

.serverdetailshead {
	background: #34495e;
	padding: 12px 20px 12px 20px;
	text-align: center;
	height: 50px;
	border-radius: 2px 2px 0 0;
}

.serverdetailshead h5 {
	color: white;
	margin: 0;
}

.detailsinfo {
	width: 60px;
	font-weight: bold;
}

table.serverdetails td {
	background-color: #fff;
	border-right: 1px solid #dedede;
	line-height: 23px;
	padding: 0 15px;
	border-bottom: 1px solid #ddd;
}

table.serverdetails td:nth-of-type(even) {
	border-right: none;
}
table.serverdetails tr {
	height: 45px;
}

.content#playersonline img {
	width: 25px;
}

.content#playersonline a {
	display: block;
	margin-bottom: 4px;
}

.customserverinfo .tabs dd > a {
	background: none;
	padding: 12px 20px 12px 20px;
}

.customserverinfo .tabs {
	background: #34495e;
	height: 50px;
}

.customserverinfo .tabs a {
	color: white;
}

.customserverinfo .tabs-content > .content {
	padding: 15px 10px 15px 10px;
}

.customserverinfo .tabs-content {
	min-height: 333px;
	border: 1px solid #ccc;
}

.serverdetails span.label {
	margin-right: 3px;
}

.serverdetails .tags {
	padding: 5px 0 5px 15px;
}

body > div.small-10.large-12.row > div.small-4.right.columns > table {
	border: 0;
}

.button.topradius {
	border-radius: 3px 3px 0 0;
}

.radius img {
	border-radius: 3px 3px 0 0;
}

.signupform {
	padding: 0px 20px 0px 20px;
}

div.signupform:first-child {
	border-right: 1px solid #ddd;
}

.boxradius {
	*border-radius: 5px;
}

.button.rightradius {
	border-radius: 0 3px 3px 0;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: none;
}

table.serverinfo .button {
	background-color: #415366;
}
table.serverinfo .button:hover {
	background-color: #34495e;
}

.pagination a.current, span.label.custom {
	background: #34495e;
}

.customserverinfo .tabs dd > a:hover {
	background: #495E74;
}

.profiledetailshead {
	background: #34495e;
	padding: 12px 20px 12px 20px;
	text-align: center;
	height: 50px;
}

.profiledetailshead h5 {
	color: white;
	margin: 0;
}

.profiledetails .detailsinfo {
	width: 145px;
	font-weight: bold;
}

table.profiledetails td {
	background-color: #fff;
	border-right: 1px solid #dedede;
	line-height: 23px;
	padding: 0 15px;
}

table.profiledetails td:nth-of-type(even) {
	border-right: none;
}
table.profiledetails tr {
	height: 45px;
}

.has-dropdown > .dropdown a {
	line-height: 30px !important;
}

.has-dropdown > .dropdown li:hover a {
	background-color: #496077 !important
}

.top-bar-section ul li:hover:not(.has-form) >
a {
	background-color: #496077 !important;
}

nav  li:not(.has-dropdown):hover a {
	background-color: #496077 !important;
	transition: background-color 300ms ease-out;
}

.top-bar-section ul li > a {
	transition: background-color 300ms ease-out;
}

.paddingrightzero {
	padding-right: 0;
}

.top-bar-section li.active:not(.has-form)
a:not(.button) {
	background: #496077 !important;
}

.vote .status {
	margin-top: -4px;
}

td.status {
	width: 83px;
}

.servername {
	font-weight: bold;
}

.banner img {
	border-radius: 2px 2px 0 0;
}

table tbody tr:hover {
	background: rgba(248, 248, 248, 0.45);
	transition: background-color 300ms ease-out;
}

table tbody tr {
	transition: background-color 300ms ease-out;
}

.has-tip {
	border: 0 !important;
}

nav > section > ul.right > li.has-dropdown > a:after {
	display: none !important;
}

nav > section > ul.right > li.has-dropdown > a {
	padding-right: 15px !important;
}

.server-icon {
	display: inline-block;
	margin: 5px 10px 5px 0;
}

.server-name {
	display: inline-block;
}

.server, .profile {
	border-radius: 2px;
	box-sizing: content-box;
	margin: 0 auto;
}

.box {
	background: white;
	border-radius: 2px 2px 0 0;
	overflow: hidden;
}

body {
	background: #edf3f2 url(../images/bg-page.jpg);
	overflow-y: scroll;
}

.serverheader, .profileheader {
	height: 80px;
	background: #3e5354;
	color: #ccc;
	padding: 89px 0 0 225px;
	box-sizing: content-box;
	position: relative;
	border-radius: 2px 2px 0 0;
}

.serverheader {
	padding: 89px 0 0 150px;
	background: url(http://i.imgur.com/2v9z5Fv.jpg) -317px -400px;
}

.serverheader strong {
	top: 134px;
	position: absolute;
}

.server-pic, .profile-pic {
	padding: 9px;
	background: white;
	border-radius: 5px;
	position: absolute;
	left: 45px;
	bottom: -41px;
}

.server-profile, .profile-user {
	font-size: 42px;
	color: white;
}

.serverprofile-nav, .profile-nav {
	padding: 10px 17px 10px 225px;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
}

.serverprofile-nav a, .profile-nav a {
	color: #747474;
	margin-right: 30px;
	text-transform: uppercase;
	font: 15px/21px Arial, Helvetica, sans-serif;
}

.serverprofile-nav dl, .profile-nav dl {
	margin-bottom: 0;
	line-height: inherit;
	display: inline-block;
}

.serverprofile-nav dl dd, .profile-nav dl dd {
	display: inline-block;
	margin-bottom: 0;
}

.profile-biography {
	padding: 0px 45px 10px 45px;
}

.profile-biography h3 {
	color: rgba(113, 121, 109, 0.63);
}

.float-right {
	float: right !important;
	display: inline-block;
}

#players > .playersonline > a > img {
	width: 30px;
}

.playersonline a {
	display: inline-block;
	width: 225px;
	margin-bottom: 10px;
}

.serverprofile-nav {
	padding: 10px 17px 10px 150px;
}

.tag {
	display: inline-block;
	width: 140px;
}

fieldset legend {
	background: none;
}

ul.pagination li a.custom:hover, ul.pagination li a.custom:focus {
	background: #202F3D;
}

.serverprofile-details {
	padding: 5px 0 3px 0;
	border-bottom: 1px solid #ddd;
	letter-spacing: -1px;
	text-align: center;
}

.serverprofile-details h5 {
	color: #747474;
	margin-right: 30px;
	text-transform: uppercase;
	font: 15px/21px Arial, Helvetica, sans-serif;
}

.profilewrap {
	padding:10px;
}

.editProfile {
	background:#EBEBEB;
	overflow:hidden;
	border-radius: 5px;
}

.editProfileField:not(:first-child){
	border: solid #dddddd;
	border-width: 1px 0 0;
	clear: both;
	padding: 1.25rem 0 1.1875rem;
	height: 0;
}

.editProfileField div:first-child {
	font-weight: bold;
	font-size:14px;
}
